.page-header#with-button
  %h1 Listing Users
  .btn-toolbar
    .btn-group
      %a{href: new_user_path, class: 'button primary small'} New User

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Email
      %th Role
      %th
      - if current_user.dev_team?
        %th
        %th
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= user.role
        %td= link_to 'Show', user
        - if current_user.dev_team?
          %td= link_to 'Edit', edit_user_path(user)
