%h1 Listing users

%table.table.table-striped
  %tablehead
    %tr
      %th Email
      %th Password
      %th Role
      %th
      %th
      %th
  %tablebody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.password
        %td= user.role
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path
