.page-header#with-button
  %h1 Listing Users
  %a{href: new_user_path, class: 'btn btn-primary pull-right'} New User

%br/

%table.table.table-striped
  %tablehead
    %tr
      %th Email
      %th Role
      %th
      - if current_user.dev_team?
        %th
        %th
  %tablebody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.role
        %td= link_to 'Show', user
        - if current_user.dev_team?
          %td= link_to 'Edit', edit_user_path(user)
          %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }
