%h1 Listing Item Groups

%table.table.table-striped
  %tr
    %th Title
    %th Parameters
    %th
    %th
    - if current_user.dev_team?
      %th

  - @admin_item_groups.each do |admin_item_group|
    %tr
      %td= admin_item_group.title
      %td= admin_item_group.params.join(', ') if admin_item_group.params
      %td= link_to 'Show', admin_item_group
      %td= link_to 'Edit', admin_edit_item_group_path(admin_item_group)
      - if current_user.dev_team?
        %td= link_to 'Destroy', admin_item_group, :method => :delete, :data => { :confirm => 'Are you sure?' }, id: "delete-#{admin_item_group.id}"