- if params[:action] == 'new' or params[:action] == 'create'
  - url = admin_create_page_template_path
  - method = 'post'
  - submit_text = 'Create'
- else
  - url = admin_update_page_template_path(@page_template.id)
  - method = 'patch'
  - submit_text = 'Update'

= form_for @page_template, url: url, method: method do |f|
  - if @page_template.errors.any?
    #error_explanation
      %h2= "#{pluralize(@page_template.errors.count, "error")} prohibited this page template from being saved:"
      %ul
        - @page_template.errors.full_messages.each do |msg|
          %li= msg

  .row
    .large-12-columns
      = f.label :name, class: 'control-label'
      = f.text_field :name, class: 'form-control'

  .row
    .large-12-columns
      = f.label :template, class: 'control-label'
      = f.text_field :template, class: 'form-control'

  = f.submit submit_text, class: 'button small success'
