= form_for @item, url: form_path(params, @item.id), method: form_method(params) do |f|
  - if @item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg

  - @item.data.try(:each) do |key, value|
    - unless key == 'type'
      .row
        .large-6.columns
          = f.label key, class: 'control-label'
          = f.text_field key, class: 'form-control', value: value, name: "item[data][#{key}]", id: "item[data][#{key}]"
  
  = f.submit 'Save', id: 'submit-item', class: 'button success small'

