= form_for @item, url: form_path(params, @item.id), method: form_method(params) do |f|
  - if @item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg

  .field
    - @item.data.try(:each) do |key, value|
      - unless key == 'type'
        = f.label key
        = f.text_field key, class: 'text_field', value: value, name: "item[data][#{key}]", id: "item[data][#{key}]"
  .actions
    = f.submit 'Save', id: 'submit-item'

