%h1 Listing items

%table
  %tr
    %th Name
    %th Data
    %th
    %th
    %th

  - @items.each do |item|
    %tr
      %td= item.name
      %td= item.data
      %td= link_to 'Show', item
      %td= link_to 'Edit', edit_item_path(item)
      %td= link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Item', new_item_path
