%h1= "Item #{@item.id}"

%table.table.table-striped
  %thead
    %tr
      %th Key
      %th Value
  %tbody
    - @item.data.try(:each) do |key, value|
      %tr
        %td= key
        %td= value

= link_to 'Edit', cavy_edit_item_path(@item.id)