- if params[:action] == 'new' or params[:action] == 'create'
  - url = cavy_create_item_section_path
  - method = 'post'
- else
  - url = cavy_update_item_section_path(@item_section.id)
  - method = 'patch'

= form_for @item_section, url: url, method: method do |f|
  - if @item_section.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item_section.errors.count, "error")} prohibited this item_section from being saved:"
      %ul
        - @item_section.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title, class: 'control-label'
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label 'Item Groups', class: 'control-label'
    - Cavy::ItemGroup.all.each do |group|
      .checkbox
        %input{ 'type' => 'checkbox', 'name' => 'item_section[item_groups][]', 'value' => group.id }= group.title

  = f.submit 'Save', class: 'btn btn-primary'
