.page-header
  %h1= "Editing #{@item_section.title}"
  .btn-toolbar
    .btn-group
      = link_to "Back to #{@item_section.title}", cavy_item_section_path(@item_section), class: 'btn btn-primary btn-small'
    .btn-group
      = link_to 'Item Sections', cavy_item_sections_path, class: 'btn btn-default btn-small'

= render 'form'