.page-header
  %h1 Item Sections
  .btn-toolbar
    - if current_user.role == 'admin'
      .btn-group
        = link_to 'New Item Section', cavy_new_item_section_path, class: 'btn btn-primary btn-small'
    = render 'cavy/shared/admin_locale_links'

%table.table.table-striped
  %thead
    %th Title
    %th
    %th

  %tbody
    - @item_sections.each do |item_section|
      %tr
        %td= link_to item_section.title, cavy_item_section_path(item_section)
        %td= link_to 'Edit', cavy_edit_item_section_path(item_section)
        %td= link_to 'Destroy', cavy_item_section_path(item_section), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
