%h1 Add Data

= form_for(@page, url: admin_create_page_data_path(@page.id), method: :post, html: {class: 'form-horizontal'}) do |f|
  = f.label :key
  = f.text_field :key

  = f.label :value
  = f.text_field :value
  %br/
  %br/
  = f.submit 'Submit',  id: 'submit'