.page-header
  %h1 Edit Page
  .btn-toolbar
    .btn-group
      = link_to('Page List', admin_pages_path, class: 'btn btn-default  btn-small')
    = render 'cavy/shared/admin_locale_links'

= form_for(@page, url: admin_update_page_path, method: :put) do |f|
  - if @page.errors.any?
    #error_explanation
      %h2
        = pluralize(@page.errors.count, "error")
        prohibited this page from being saved:
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :title, class: 'control-label'
    = f.text_field :title, class: 'form-control'

  - if current_user.dev_team?
    .form-group
      = f.label :render, class: 'control-label'
      = f.text_field :render, class: 'form-control'

    .form-group
      = f.label :route, class: 'control-label'
      = f.text_field :route, class: 'form-control'
  
  - @page.data.try(:each) do |key, value|
    .form-group
      = f.label key, class: 'control-label'
      = f.text_field key, class: 'form-control', value: value, name: "page[data][#{key}]", id: "item[data][#{key}]"
  
  .form-group
    = f.label :meta_tags, class: 'control-label'
    = f.text_field :tag_string, value: "#{@page.tags.join(',') if @page.tags != '' and @page.tags != nil}", class: 'form-control'

  .form-group
    = f.label :meta_description, class: 'control-label'
    = f.text_area :description, class: 'form-control'
  
  = f.submit( 'Submit', class: 'btn btn-primary', id: 'submit_page' )