%h1 Edit Page
%hr

= render 'cavy/shared/admin_locale_links'

= form_for(@page, url: admin_update_page_path, method: :put, html: {class: 'form-horizontal'}) do |f|
  - if @page.errors.any?
    #error_explanation
      %h2
        = pluralize(@page.errors.count, "error")
        prohibited this page from being saved:
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :title, class: 'control-label'
    .controls
      = f.text_field :title
  - if current_user.dev_team?
    .control-group
      = f.label :render, class: 'control-label'
      .controls
        = f.text_field :render
    .control-group
      = f.label :route, class: 'control-label'
      .controls
        = f.text_field :route
  
  - @page.data.try(:each) do |key, value|
    .control-group
      = f.label key, class: 'control-label'
      .controls
        = f.text_field key, class: 'text_field', value: value, name: "page[data][#{key}]", id: "item[data][#{key}]"
  
  .control-group
    = f.label :meta_tags, class: 'control-label'
    .controls
      = f.text_field :tag_string, value: "#{@page.tags.join(',') if @page.tags != '' and @page.tags != nil}"
  .control-group
    = f.label :meta_description, class: 'control-label'
    .controls
      = f.text_area :description
  .control-group
    .controls
      = f.submit( 'Submit', class: 'btn btn-primary', id: 'submit_page' )