<div class="page-header">
  <h1>Website Pages</h1>
  <div class="small button-group">
    <% if current_user.role == 'admin' %>
        <a class="button" href="<%= admin_new_page_path %>" id="admin-new-page">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          New Page
        </a>
    <% end %>
  </div>
</div>

<% if @pages.count >= 1 %>
    <table>
      <thead>
      <tr>
        <th>Title</th>
        <th>Route</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @pages.each do |page| %>
          <tr>
            <td>
              <a href="<%= admin_edit_page_path(page.id) %>"><%= page.localized_title %></a>

            </td>
            <td>
              /<%= page.route %>
            </td>
            <td>
              <a href="<%= admin_edit_page_path(page.id) %>" id="edit-page-<%= page.id %>" class="button small">Edit</a>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <b>You don't have any pages yet.</b>
<% end %>

