<div class="page-header">
  <h1>Website Pages</h1>
  <div class="small button-group">
    <% if current_user.role == 'admin' %>
        <a class="button" href="<%= admin_new_page_path %>" id="admin-new-page">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          New Page
        </a>
    <% end %>
  </div>
</div>

<% if @pages.count >= 1 %>
    <div class="row small-up-2 medium-up-3">
      <% @pages.each do |page| %>
          <div class="column">
            <div class="card">
              <div class="card-divider">
                <a href="<%= admin_page_path(page.id) %>" id="page-<%= page.id %>"><%= page.localized_title %></a>
              </div>
              <div class="card-section">
                <a href="<%= cavy_edit_page_path(page.route) %>" id="edit-page-content-<%= page.id %>">
                  <i class="fa fa-file-text" aria-hidden="true"></i>
                  <span>Edit Content</span>
                </a>
                <br/>
                <% if current_user.dev_team? %>
                    <a href="<%= admin_edit_page_path(page.id) %>" id="edit-page-<%= page.id %>">
                      <i class="fa fa-cog" aria-hidden="true"></i>
                      Edit Settings
                    </a>
                    <br/>
                <% end %>
                <% if current_user.dev_team? %>
                    <a href="<%= admin_add_page_data_path(page.id) %>" id="edit-page-data-<%= page.id %>">
                      <i class="fa fa-database" aria-hidden="true"></i>
                      Edit Data
                    </a>
                    <br/>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
<% else %>
    <b>You don't have any pages yet.</b>
<% end %>

