<div class="page-header">
  <h1>Website Pages</h1>
  <div class="small button-group">
    <% if current_user.role == 'admin' %>
        <a class="button" href="<%= admin_new_page_path %>" id="admin-new-page">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          New Page
        </a>
    <% end %>
  </div>
</div>

<% if @pages.count >= 1 %>
    <div class="row small-up-1 medium-up-2 large-up-4">
      <% @pages.each do |page| %>
          <div class="page-list column">

            <div class="page-list-title">
              <a href="<%= admin_page_path(page.id) %>" id="page-<%= page.id %>"><%= page.localized_title %></a>
            </div>

            <ul class="menu vertical">
              <li>
                <a href="<%= cavy_edit_page_path(page.route) %>" id="edit-page-content-<%= page.id %>">
                  <i class="fa fa-file-text" aria-hidden="true"></i>
                  <span>Edit Content</span>
                </a>
              </li>
              <% if current_user.dev_team? %>
                  <li>
                    <a href="<%= admin_edit_page_path(page.id) %>" id="edit-page-<%= page.id %>">
                      <i class="fa fa-cog" aria-hidden="true"></i>
                      Edit Settings
                    </a>
                  </li>
              <% end %>
              <% if current_user.dev_team? %>
                  <li>
                    <a href="<%= admin_add_page_data_path(page.id) %>" id="edit-page-data-<%= page.id %>">
                      <i class="fa fa-database" aria-hidden="true"></i>
                      Edit Data
                    </a>
                  </li>
              <% end %>
            </ul>
          </div>
      <% end %>
    </div>
<% else %>
    <b>You don't have any pages yet.</b>
<% end %>

