.page-header
  %h1 New Page
  .btn-toolbar
    .btn-group
      = link_to('Page List', admin_pages_path, class: 'btn btn-default  btn-small')
    = render 'cavy/shared/admin_locale_links'

= form_for(@page, url: admin_create_page_path, method: :post) do |f|
  - if @page.errors.any?
    #error_explanation
      %h2
        = pluralize(@page.errors.count, "error")
        prohibited this page from being saved:
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    .form-group
      = f.label :title, class: 'control-label'
      = f.text_field :title, class: 'form-control'
    .form-group
      = f.label 'Page to Render', class: 'control-label'
      = f.text_field :render, class: 'form-control'
    = f.submit( 'Submit', class: 'btn btn-primary', id: 'submit_page' )