%h1= "Page - #{@page.title}"

%hr/

= link_to 'Edit Settings', admin_edit_page_path(@page.id), id: 'edit-page-settings', class: 'btn'
= link_to 'Edit Content', cavy_edit_page_path(@page.route), id: 'edit-page-content', class: 'btn'
= link_to 'Add Data', admin_add_page_data_path(@page.id), id: 'add-data', class: 'btn'
%br/
%br/
%h3 Route
= "/#{@page.route}"
%br/
%br/
%h3 Meta Tags

- unless @page.tags == nil
  %ul
    - @page.tags.each do |tag|
      %li= tag

%br/

%h3 Meta Description
= @page.description if @page.description