<div class="page-header">
  <h1>
    <%= "Page - #{@page.localized_title}" %>
  </h1>
  <div class="button-toolbar">
    <div class="small button-group">
      <%= link_to('Page List', admin_pages_path, class: 'button') %>
      <%= link_to('Page Settings', admin_edit_page_path(@page.id), class: 'button', id: 'edit-page-settings' ) %>
      <%= link_to('Page Content', cavy_edit_page_path(@page.route), class: 'button', id: 'edit-page-content' ) %>
      <%= link_to('Add Page Data Field', admin_add_page_data_path(@page.id), class: 'button', id: 'add-data' ) %>
    </div>
  </div>
</div>
<h3>Route</h3>
<%= "/#{@page.route}" %>
<br/>
<br/>
<% if @page.tags != nil %>
  <h3>Meta Tags</h3>
  <ul>
    <% @page.tags.each do |tag| %>
      <li>
        <%= tag %>
      </li>
    <% end %>
  </ul>
<% end %>
<br/>
<% if @page.description %>
  <h3>Meta Description</h3>
  <%= @page.description %>
<% end %>

