%h1= "Page - #{@page.title}"

%hr/
= render 'cavy/shared/admin_locale_links'
.btn-group
  %btn{id: 'edit-page-settings', onclick: "window.location.href='#{admin_edit_page_path(@page.id)}'", class: 'btn'}
    Edit Settings
  %btn{id: 'edit-page-content', onclick: "window.location.href='#{cavy_edit_page_path(@page.route)}'", class: 'btn'}
    Edit Content
  %btn{id: 'add-data', onclick: "window.location.href='#{admin_add_page_data_path(@page.id)}'", class: 'btn'}
    Add Data
%br/
%br/
%h3 Route
= "/#{@page.route}"
%br/
%br/
%h3 Meta Tags

- unless @page.tags == nil
  %ul
    - @page.tags.each do |tag|
      %li= tag

%br/

%h3 Meta Description
= @page.description if @page.description