%h1= "Page - #{@page.title}"

%hr/

= render 'cavy/shared/admin_locale_links'

.btn-group
  = link_to('Edit Settings', admin_edit_page_path(@page.id), class: 'btn btn-default', id: 'edit-page-settings' )
  = link_to('Edit Content', cavy_edit_page_path(@page.route), class: 'btn btn-default', id: 'edit-page-content' )
  = link_to('Add data', admin_add_page_data_path(@page.id), class: 'btn btn-default', id: 'add-data' )

%br/
%br/
%h3 Route
= "/#{@page.route}"
%br/
%br/
%h3 Meta Tags

- unless @page.tags == nil
  %ul
    - @page.tags.each do |tag|
      %li= tag

%br/

%h3 Meta Description
= @page.description if @page.description