%h1 Website Pages

%table.table.table-striped
  %thead
    %tr
      %th Page
      %th Title
      %th Content
      %th Render
      %th 
      %th 
  %tbody
    - Cavy::Page.all.each do |page|
      %tr
        %th= page.id
        %th= link_to page.title, admin_page_path(page.id), id: "page-#{page.title}"
        %th= page.content
        %th= page.render
        %th= link_to 'edit', '#'
        %th= link_to 'destroy', '#'