.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid

    %button{ 'type' => 'button', 'data-target' => '.bs-navbar-collapse', 'data-toggle' => 'collapse', 'class' => 'navbar-toggle' }
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar

    %a{ href: admin_dashboard_path, class: 'navbar-brand' }= Cavy.title || 'Cavy'
    .nav-collapse.collapse.bs-navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to 'Dashboard',     admin_dashboard_path,     id: 'admin-overview'
        %li.dropdown
          %a.dropdown-toggle{ 'data-toggle' => 'dropdown', href: '#' }
            Admin
            %b.caret
          %ul.dropdown-menu
            %li= link_to 'Item Groups',   item_groups_path,         id: 'admin-item-groups'
            %li= link_to 'Item Sections', cavy_item_sections_path,  id: 'admin-item-sections'
            - if current_user and current_user.site_manager?
              %li= link_to 'Users', cavy_admin_users_path, id: 'admin-users'
        %li= link_to 'Pages',         admin_pages_path,         id: 'admin-pages'
        - Cavy::ItemSection.all.each do |section|
          %li= link_to section.title, cavy_item_section_path(section.id)

      %ul.nav.navbar-nav.pull-right
        - if current_user
          %li.dropdown
            %a.dropdown-toggle{ 'data-toggle' => 'dropdown', href: '#' }
              = current_user.name
              %b.caret
            %ul.dropdown-menu
              %li= link_to 'Sign Out', admin_destroy_session_path, method: :delete, id: 'log-out'