<!doctype html>

<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">

  <title><%= @title ? @title : 'Cavy' %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <%= stylesheet_link_tag 'cavy/application', media: 'all' %>
  <%= javascript_include_tag 'cavy/application' %>
  <script src="/assets/cavy/ckeditor/ckeditor.js"></script>
  <%= csrf_meta_tags %>
</head>
<body id="site">

<header>
  <%= render 'layouts/cavy/admin_header' %>
</header>

<main id="content">
  <div class="expanded row" id="contentRow">
    <div class="large-2 columns" id="sidebar">
      <%= render 'layouts/cavy/admin_sidebar' %>
    </div>
    <div class="large-10 columns">
      <% flash.each do |key, value| %>
          <div class="callout <%= key %>" style="margin-top: 1em;" data-closable>
            <%= value %>

            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      <% end %>
      <%= yield %>
    </div>
  </div>
</main>

<footer>
  &copy; Ruby Rainbows <%= Time.now.year %>
</footer>

</body>
</html>
