!!!
%html
  %head
    %title Cavy
    = stylesheet_link_tag    "cavy/application", media: "all"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body
    = render 'layouts/cavy/header'
    = yield
    - if can_edit?
      = javascript_include_tag "cavy/mercury_loader"
  = javascript_include_tag "cavy/application"