<!doctype html>

<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">

  <title><%= @title ? @title : 'Cavy' %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <%= stylesheet_link_tag 'cavy/application', media: 'all' %>
  <%= javascript_include_tag 'cavy/application' %>
  <%= csrf_meta_tags %>

</head>

<body>
<div class="row">
  <div class="large-12 columns">
    <%= yield %>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <footer>
      &copy; Ruby Rainbows <%= Time.now.year %>
    </footer>

  </div>
</div>
</body>
</html>
