!!!
%html{ lang: I18n.locale }
  %head
    %title Sign in
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }

    = stylesheet_link_tag    "cavy/application", media: "all"
    = javascript_include_tag "cavy/application"

    = csrf_meta_tags

  %body
    - flash.each do |name, msg|
      %div{:class => "alert-box #{name}","data-alert" => ""}
        %a.close{:href => "#"} &times;
        = msg if msg.is_a?(String)
    .container
      = yield