.page-header#with-button
  %h1 Listing Item Groups
  .btn-toolbar
    .btn-group
      %a{href: admin_new_item_group_path, class: 'btn btn-primary btn-small'} New Item Group
    = render 'cavy/shared/admin_locale_links'

%br/

- if @item_groups.count >= 1
  %table.table.table-striped
    %thead
      %th Title
      %th Parameters
      %th
      %th
      - if current_user.dev_team?
        %th
    %tbody
      - @item_groups.each do |item_group|
        %tr
          %td= item_group.title
          %td= item_group.params.join(', ') if item_group.params
          %td= link_to 'Show', cavy_item_group_path(item_group.id)
          %td= link_to 'Edit', admin_edit_item_group_path(item_group.id)
          - if current_user.dev_team?
            %td= link_to 'Destroy', cavy_delete_item_group_path(item_group.id), :method => :delete, :data => { :confirm => 'Are you sure?' }, id: "delete-#{item_group.id}"
- else
  You dont have any item groups yet.