.page-header#with-button
  %h1= @item_group.title
  .btn-toolbar
    .btn-group
      = link_to 'New Item', cavy_new_item_path(group_id: @item_group.id), id: 'new-item', class: 'btn btn-primary btn-small'
    .btn-group
      = link_to('Item Group List', item_groups_path, class: 'btn btn-default  btn-small')
    = render 'cavy/shared/admin_locale_links'

%h3 Group Parameters
%br/
%table.table.table-striped{style: 'max-width: 400px;'}
  %tablehead
    %th #
    %th Parameter
  %tablebody
    - i = 0
    - @item_group.params.each do |p|
      %tr
        %td= i = i + 1
        %td= p

%hr

%h3 Group Items
%br/

- if @items.count >= 1
  %table.table.table-striped#item_group_items{'data-update-url' => cavy_update_order_item_group_path}
    %tablehead
      %tr
        - @item_group.params.each do |param|
          %th= param
        %th
        %th
        %th
    %tablebody
      - @items.each do |item|
        = content_tag_for :tr, item do
          - @item_group.params.each do |param|
            %td= item.data[param]
          %td= link_to 'Show', cavy_item_path(item.id)
          %td= link_to 'Edit', cavy_edit_item_path(item.id)
          %td= link_to 'Destroy', cavy_delete_item_path(item.id), :method => :delete, :data => { :confirm => 'Are you sure?' }, id: "delete-#{item.id}"

- else
  You don't have any items in this group yet.