%p#notice= notice

%p
  %b Title:
  = @item_group.title
%p
  %b Params:
  = @item_group.params

= link_to 'Edit', admin_edit_item_group_path(@item_group)
\|
= link_to 'Back', item_groups_path

%br/
%br/
%h2 Group Items
%br/
%br/
= link_to 'New Item', cavy_new_item_path(group_id: @item_group.id), id: 'new-item'
%br/
%br/
%table.table.table-striped#item_group_items{'data-update-url' => cavy_update_order_item_group_path}
  %thead
    %tr
      - @item_group.params.each do |param|
        %th= param
      %th
      %th
      %th
  %tbody
    - @items.each do |item|
      = content_tag_for :tr, item do
        - @item_group.params.each do |param|
          %td= item.data[param]
        %td= link_to 'Show', cavy_item_path(item.id)
        %td= link_to 'Edit', cavy_edit_item_path(item.id)
        %td= link_to 'Destroy', cavy_delete_item_path(item.id), :method => :delete, :data => { :confirm => 'Are you sure?' }, id: "delete-#{item.id}"
